ion-header,ion-toolbar{
    --background: linear-gradient(90deg,#6094DB 0%, rgb(96 148 219 / 85%) 35%, rgb(96 148 219 / 47%) 100%);
    color:white;

}

.card-1{
    background-color: white;
    position: absolute;
    margin-left: 0%;
    top: 2%;
    text-align: center;
    width: 100%;
}