.main{
    padding: 10px;
    .endrecoEntrega{
        label{
            margin:0 0 0 4px;
        }
        input{
            width: 100%;
            border: solid 3px #f1f5f8;
            height: 45px;
            border-radius: 5px;
            padding: 10px;
            margin-top: 5px;
        }
        ::placeholder{
            margin-left: 5px ;
        }
        ::-webkit-input-placeholder{
            margin-left: 5px ;

        }
    }
    ion-grid{
        ion-icon{
            font-size: 20px;
            border: solid 1px #6094DB;
            border-radius: 20px;
            padding: 6px;
            margin-left: -9px;
            background: #6094DB;
        }
        padding-left: 0;
        padding-right: 0;
        ion-select{
            border-radius: 10px;
            border: solid 1px #f1f5f8;
            background: #f1f5f8;
            width: 100%;
        }
    }

}
ion-header,ion-toolbar{
    --background: linear-gradient(90deg,#6094DB 0%, rgb(96 148 219 / 85%) 35%, rgb(96 148 219 / 47%) 100%);
    color:white;

}
ion-footer{
    background: #ffff;
    border-top: solid 1px #6094DB;
}
.vl{
    border-left: 5px solid #6094DB;
    top: 0;
    margin-left: 5px;
    height: 60%;
}
.loja-label{
    background: #4caf50;
    color: white;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    opacity: 0.7;
    width: 25%;
    margin-top: 2%;
}
.del-label{
    background: #f44336;
    color: white;
    padding: 6px;
    text-align: center;
    border-radius: 5px;
    width: 52%;
    margin-top: 2%;
}
.required{
    font-size: 10px;
    color: red;
}