<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Entregas</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="light" text="Voltar"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main1" [hidden]="hide2">
    <p style="text-align:center; color: #bfbfbf;">Normalmente, os pedidos de entregador podem levar algum tempo, arrume tudo antes de pedir!</p>

    <h3 style="text-align: center;">Deseja adicionar pedidos do app?</h3>
    <p style="text-align: center; color: #bfbfbf;">Selecione quais pedidos você quer colocar na rota.</p>
    <ion-list *ngFor="let itens of todas; let i = index">
      <ion-item lines="none" >
        <ion-checkbox slot="start" (click)="itemSelected($event,itens, i)" color="axe"></ion-checkbox>
        <ion-label>
          <h2>{{itens.nPedido}}
          </h2>
          <p>{{itens.endereco}}</p>
        </ion-label>
      </ion-item>
 
    </ion-list>
    <ion-button  expand="block" (click)="calculateAll()" color="axe" style="font-size: 15px;">        
      Calcular 
  </ion-button>
  <ion-button fill="clear" expand="block" (click)="pedidosFora()" >Adicionar pedidos de fora do App</ion-button>

  </div>
  <div class="main" [hidden]="hide">
    <p style="text-align:center; color: #bfbfbf;">Normalmente, os pedidos de entregador podem levar algum tempo, arrume tudo antes de pedir!</p>

    <ion-button fill="clear" expand="block" (click)="pedidosDentro()" >Adicionar pedidos do App</ion-button>

    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col>
          <ion-select [(ngModel)]="tipoCarro" placeholder="Tipo de veiculo">
            <ion-select-option value="8">Moto</ion-select-option>
            <ion-select-option  value="7">Carro</ion-select-option>
            <ion-select-option  value="5">Van/Fiorino</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col>
          <ion-select [(ngModel)]="pesoEntrega" placeholder="Peso">
            <ion-select-option  value="1">Até 1kg</ion-select-option>
            <ion-select-option  value="5">Até 5kg</ion-select-option>
            <ion-select-option  value="10">Até 10kg</ion-select-option>
            <ion-select-option  value="15">Até 15kg</ion-select-option>
            <ion-select-option  value="20">Até 20kg</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col style="margin-top: 10px;" size="1">
          <ion-icon style="color: white;" name="bicycle"></ion-icon>

          <div class="vl">

          </div>
          <ion-icon style="margin-top: 3px; color: white;" name="cube-outline"></ion-icon>

        </ion-col>
        <ion-col size="11">
          <div class="endrecoEntrega">
            <label for="enderecoEnt">Endereço completo da entrega</label>
            <input placeholder="Digite aqui o endereço para entrega..." id="enderecoEnt" [(ngModel)]="endereco" />
            <label *ngIf="endereco === undefined" class="required">* Endereço obrigatório</label>

          </div>
          <ion-grid>
            <ion-row>
              <ion-col>
                <div class="endrecoEntrega">
                  <label for="enderecoEnt">Complemento</label>
                  <input placeholder="Digite aqui o complemento " id="enderecoEnt" [(ngModel)]="complemento" />
                  <label *ngIf="complemento === undefined" class="required">* Complemento obrigatório</label>
                </div>
              </ion-col>
              <ion-col>
                <div class="endrecoEntrega">
                  <label for="enderecoEnt">Bairro</label>
                  <input placeholder="Digite aqui o bairro" id="enderecoEnt" [(ngModel)]="bairro" />
                  <label *ngIf="bairro === undefined" class="required">* Bairro obrigatório</label>
                </div>
              </ion-col>              
            </ion-row>
          </ion-grid>
          <ion-grid>
            <ion-row class="ion-align-items-center">
              <ion-col>
                <ion-select [(ngModel)]="cidade" placeholder="Cidade">
                  <ion-select-option selected value="Rio de Janeiro">Rio de Janeiro</ion-select-option>
                  <!--ion-select-option value="São Paulo">São Paulo</ion-select-option>
                  <ion-select-option value="Campinas">Campinas</ion-select-option>
                  <ion-select-option value="Belo Horizonte">Belo Horizonte</ion-select-option-->

                </ion-select>
                <label *ngIf="cidade === undefined" class="required">* Cidade obrigatório</label>

              </ion-col>
              <ion-col>
                <label disabled *ngIf="cidade ==='Rio de Janeiro'" [(ngModel)]="estado" value='RJ'>RJ</label>
            
                  
              </ion-col>
            </ion-row>
          </ion-grid>
         
          <div class="endrecoEntrega">
            <label for="enderecoEnt">Nome do destinatário</label>
            <input placeholder="Digite aqui o nome do destinatário..." id="enderecoEnt" [(ngModel)]="nomeDestinatario" />
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-button *ngIf="pontos.length > 1" fill="clear" (click)="addDestinoAlt()" color="dark" style="font-size: 12px;">        
      <ion-icon name="add-circle-outline" style="margin-right: 5px;"></ion-icon>
        Adicionar outro destino 
    </ion-button>
    <ion-button color="axe" style="color: white;" (click)="calDesti()"  expand="block">Calcular</ion-button>

  </div>

  <h3 style="text-align: center;
  color: #bfbfbf;
  border-top: solid 1px black;
  padding: 10px;">Endereços para entrega</h3>
  <ion-list>
    <ion-item lines="none" *ngFor="let itens of pontos; let i = index">        
      <p slot="start" *ngIf="i === 0" style="font-size: 14px; opacity: 0.7;">{{itens.address}}
        <ion-label class="loja-label" *ngIf="i === 0" slot="end">Loja</ion-label>
      </p>
      <p slot="start" *ngIf="i != 0" style="font-size: 14px;">{{itens.address}}
        <ion-label (click)="removerLista(i)" class="del-label" *ngIf="i != 0" slot="end">Deletar</ion-label>
      </p>  
      
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col>
       <ion-item lines="none">
         <h4>R${{precoCalculado}}</h4>
       </ion-item>
      </ion-col>
      <ion-col>
          <ion-button color="axe" *ngIf="precoCalculado != '0.00'" style="color: white;" (click)="post()" expand="block">Pedir entregador</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>