<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  
  </ion-toolbar>

</ion-header>

<ion-content>
  <div class="main">
    <div class="dizeres-top">
      <h4>
        Digite os dados de acesso da sua loja
      </h4>
      <!--a href="https://cadastro.axedelivery.com.br" style="font-size: 12px;
      font-size: 12px;
    background: red;
    text-align: center;
    color: white !important;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;">
        Se ainda não cadastrou a sua loja <a style="color: lightgray;" href="https://cadastro.axedelivery.com.br">Clique aqui!</a-->
    </div>

    <div class="email-div">
      <label for="email" class="email">E-mail</label>
      <input type="text" [(ngModel)]="email" placeholder="Digite aqui o e-mail da sua loja..." class="emailInput">
    </div>
    <div class="senha-div">
      <label for="senha" class="senha">Senha</label>
      <input type="password" [(ngModel)]="senha"  placeholder="Digite aqui a senha da sua loja..." class="senhaInput">
    </div>
    <ion-button (click)="senhaEsquecida()"fill="clear">Esqueceu a senha?</ion-button>
    <ion-button expand="block" (click)="entrar()" color="warning">Entrar</ion-button>

  </div>
</ion-content>
