.ios, .md{
    page-intro {
        ion-slide{
            background-color:#32db64;
            img{
                height: 15vh !important;
                width: auto !important;
            }
        }
    }
}