ion-header, ion-toolbar{
    --background: linear-gradient(90deg,#6094DB 0%, rgb(96 148 219 / 85%) 35%, rgb(96 148 219 / 47%) 100%);
    color:white;

    ion-item{
        --background: linear-gradient(90deg,rgb(255 193 7) 0%,rgb(255 193 7 / 52%) 35%, rgb(255 193 7 / 18%) 100%);;

        padding: 0 10px;
    }
    ion-toolbar{
        .bordered{
            --border-radius:10px;
            --box-shadow:5px 5px 10px #d1d1d1, -5px -5px 10px #FFFFFF
        }
    }
    ion-item{
        h3{
            font-weight: 700;
            font-size: 14px;
        }
        p{
            font-weight: 500;
            font-size: 14px;
        }
        ion-avatar{
            --border-radius:40%
        }
    }
}
*{
	font-weight: 300;
}
.background-div1{
    background: linear-gradient(145deg, #ffcb0254 40%, #ffc409 100%);
    height: 235px;
    width: 100%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

}

.card-1{
    background-color: white;
    position: absolute;
    margin-left: 0%;
    text-align: center;
    width: 100%;
}
.arrow{
	color: black;
    width: 14%;
    height: 12%;
    margin-top: 5%;
    float:left;
}
.signin-button{
    --background: linear-gradient(90deg, #222428 6%, #383a3ed9 100%)
}
ion-button{
	--border-radius:9px;
	--box-shadow: none;
	text-transform: initial;
	font-size: 12px;
}