<ion-header>
  <ion-toolbar>
    <ion-title>Venda #{{venda?.nPedido}}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="dismiss()"  color="light">
        <ion-icon color="dark" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="text-align: center;" >
    <ion-card-header>
      <h1 style="text-align: center;"> {{venda?.nomeComprador}}</h1>
    </ion-card-header>

    <ion-card-content>
      <h4 text-center style="color: black"> Status da entrega: </h4>
      <p text-center> {{venda?.statusEnt}}</p>
      <h4 text-center style="color:black"> Endereço da entrega:</h4>
      <p>{{venda?.endereco}}</p>
      <ion-item style="border-radius: 25px; border: 2px solid rgba(0, 0, 0, 0.3);
    box-shadow: 5px 5px rgba(128, 128, 128, 0.4);">
        <ion-icon slot="start" style="color: green" name="cash"></ion-icon>
        <p slot="end">{{venda?.statusPag}}</p>
      </ion-item>

     
      <ion-label *ngIf="user?.estado != 'RJ'">
        <h2 style=" margin-top: 10%;">Altere o status do pedido</h2>
        <ion-select style="border: 1px solid black;
        margin-top: 5% !important;
        border-radius: 10px;
        padding: 10px;
        color: black;"
                    placeholder="Altere o status da entrega" [(ngModel)]="statusEnt">
          <ion-select-option value="Preparando Entrega">Preparando Entrega</ion-select-option>
          <ion-select-option value="Saiu para Entrega">Saiu para Entrega</ion-select-option>
          <ion-select-option value="Entregue">Entregue</ion-select-option>

        </ion-select>
        <ion-button expand="block" fill="solid" color="warning" (click)="save()">Salvar</ion-button>
      </ion-label>
<!--

      <p style="margin-top: 5%;" *ngIf="pedidoCalculado != 'undefined'">Pedido calculado!</p>
      <ion-button style="margin-top: 5%;" *ngIf="user?.estado === 'RJ' && pedidoCalculado === 'undefined'" expand="block" color="axe" (click)="calculate()"> Confirmar pedido</ion-button>
      <ion-button style="margin-top: 5%;" *ngIf="user?.estado === 'RJ' && pedidoCalculado != 'undefined'" expand="block" color="axe" (click)="post()"> Pedir entregador</ion-button>
      <ion-button style="margin-top: 5%;" *ngIf="user?.estado === 'RJ'" expand="block" color="danger" (click)="cancelar(idOrder)">Cancelar entrega e pedido</ion-button>
-->
    </ion-card-content>


  </ion-card>

      <ion-list>
      <ion-item  *ngFor="let items of venda?.produtos">
         <ion-avatar slot="start">
          <img  *ngIf="items.fotos.length != 0" src="{{items.fotos}}">
          <img  *ngIf="items.fotos.length === 0" src="/assets/Picture1.png">
        </ion-avatar>
        <ion-label>
          {{items.nome}}
          <p>R${{items.valor}}</p>
          <p *ngIf="items.especi !=' ' "><b>Tipo:</b> {{items.especi}}</p>
          <p><b>Quantidade:</b> {{items.quantity}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
</ion-content>
