<ion-header>
  <ion-toolbar>
    <ion-title>Chat</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="light" text="Voltar"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="none" button *ngFor="let itens of chatsList; let i = index;" (click)="presentModal(itens.id)">
      <ion-avatar slot="start">
        <ion-icon name="chatbubbles-outline" color="axe" style="width: 100%;
        height: 100%;"></ion-icon>
      </ion-avatar>
      <ion-label>
         <h4 style="font-size: 700;"> {{itens.nomeComprador}}</h4>
         <h6 style="color: grey;" *ngIf="itens.mensagens.length != 0"> {{itens?.mensagens[0].conteudo}}</h6>
         <h6 style="color: grey;" *ngIf="itens.mensagens.length === 0"> Clique para enviar uma mensagem!</h6>

      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
