ion-content{
    background:#ffff;
    --background:#ffff;

}
.container{
    padding: 6px 12px;
    color:black;
    background:#ffff;
    ion-item{
        --background: rgb(255 255 255 / 67%);
        padding: 0;
        margin: 14px 0;
        --border-radius:14px;
        color: black;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        ion-label{
            h4{
                font-weight: 600;
                font-size:16px
            }
            h6{
                color:lightslategray;
            }
        }
    }
}
